@import url(http://localhost/repo_mvc/Views/css/main.css);
@import url(http://localhost/repo_mvc/Views/css/header.css);

.top {
  width: 100%;
  margin: 2rem auto 5px;
  display: flex;
  justify-content: space-between;
}
.top h1 {
  font-size: large;
  font-weight: bold;
  color: var(--c_main);
}
.top a {
  font-family: var(--f-advent);
  font-size: medium;
  font-weight: 600;
  color: var(--c_gold);
  text-decoration: none;
}
.flex {
  display: flex;
  gap: 1em;
  margin-top: 1rem;
  height: max-content;
}
.careers {
  position: sticky;
  top: 10px;
  width: min(100%,300px);
  height: max-content;
  padding: 1rem;
  background: var(--c_slate);
  border-radius: 5px;
}
.careers__title {
  font-family: var(--f-advent);
  font-size: large;
  font-weight: 800;
  color: var(--c_darkBlue);
}
.careers__nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin-top: 1em;
}
.careers__nav__item {
  display: block;
  padding: 10px;
  background: var(--c_darkBlue);
  color: white;
  font-size: small;
  text-decoration: none;
  cursor: pointer;
}
.container__projects {
  position: sticky;
  top: 10px;
  z-index: 20;
  height: max-content;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.filter ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  overflow: hidden;
}
.filter__item {
  position: relative;
  padding: 5px 10px;
  border: 1px solid var(--c_slate);
  text-decoration: none;
  font-size: small;
  text-transform: lowercase;
  display: inline-block;
  white-space: nowrap;
}
.filter__item::first-letter {
  text-transform: uppercase;
}
.filter__item.selected {
  background: var(--c_slate);
}
.filter__item:hover {
  background: var(--c_slate);
}
.projectsBox {
  width: 100%;
  height: max-content;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  gap: 1rem;
  padding: 1em;
  border: 1px solid var(--c_slate);
  border-radius: 0 0 5px 5px;
}
.project {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  gap: 5px;
  flex-direction: column;
  background-color: var(--c_slate);
  border-radius: 4px;
}
.project:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: var(--cl);
  border-radius: inherit;
}
.project__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project__title {
  font-family: var(--f-advent);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--cl);
  /* estilos para limitar lineas de texto */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* aquí se especifica el número de líneas */
}
.project__type {
  font-size: small;
  font-weight: 500;
  color: var(--main);
}
.project__descri {
  font-size: small;
  margin-top: 5px;
  color: var(--c_gray);
   /* estilos para limitar lineas de texto */
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 3; /* aquí se especifica el número de líneas */
}
.project__state {
  padding: 7px;
  width: min(100%, 15em);
  text-align: center;
  border-radius: 4px;
  background: var(--cl);
  color: white;
  align-self: flex-end;
  margin-top: 10px;
}
.project__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--c_gray);
  cursor: pointer;
  outline: 1px solid var(--c_gray);
}
.project__upload:hover {
  outline: 2px solid var(--c_gray);
}
.project__upload i {
  font-size: xx-large;
}
.project__upload span {
  font-family: inherit;
}

@media screen and (max-width: 800px) {
  .flex{
    flex-direction: column;
  }
  .careers{
    position: relative;
    display: none;
  }
  .projectsBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
