@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --c_main: #1890ff;
  --c_darkBlue: #023047;
  --c_blue: #0A39E4;
  --c_gold: #ffc107;
  --c_red: #ff0000;
  --c_gray: #757373;
  --c_slate: #e2e8f0;

  --f-montserrat:"Montserrat", sans-serif;
  --f-advent: 'Advent Pro', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

/* Color de fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: var(--c_slate);
  border-radius: 5px;
}
.container_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.container {
  margin: auto;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    padding: 0 6rem;
  }
}
