@import url(http://localhost/repo_mvc/Views/css/main.css);
@import url(http://localhost/repo_mvc/Views/css/header.css);

body {
  background-color: var(--c_slate);
}
.container_main{
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #fff;
}
.header__btnBack {
  width: 30px;
  font-size: x-large;
  color: var(--c_slate);
  font-weight: 600;
}
.header__btnBack:hover {
  filter: brightness(90%);
}
.header__proyect {
  font-size: small;
}
.header__titleproyect {
  font-size: x-large;
  font-family: var(--f-advent);
}
.main {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #fff;
  border-top: 1px solid var(--c_slate);
}
.da__btn {
  position: absolute;
  top: 5em;
  right: 0;
  z-index: 90;
  border-radius: 20px 0 0 20px;
  border: none;
  padding: 10px 20px;
  background-color: var(--c_darkBlue);
  color: white;
  cursor: pointer;
}
.da__box {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 90;
  width: min(100%, 420px);
  height: 100%;
  padding: 1em;
  background-color: #fff;
  border-left: 1px solid var(--c_slate);
  box-shadow: -5px 0 5px var(--c_slate);
  transition: all 0.3s ease-in-out;
}
.da__box.show {
  right: 0;
}
.da {
  position: sticky;
  top: 10px;
  right: 0;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.da__btnclose {
  font-size: large;
  color: var(--c_gray);
  border-radius: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.da__btnclose:hover {
  filter: brightness(90%);
}
.da__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.da__form__group {
  width: 100%;
}
.da__form__groupy{
  position: relative;
  width: 100%;
}
.da__form__label {
  display: block;
  font-size: medium;
  font-weight: 500;
}
.da__form__label_sub{
  display: block;
  font-size: small;
  font-weight: 500;
  padding-left: 10px;
}
.da__form__input {
  width: 100%;
  padding: 10px;
  font-size: small;
  border: none;
  border-bottom: 1px solid var(--c_gray);
  outline: none;
}
.da__form__juriesBox{
  width: 100%;
  display: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 7px;
  background-color: #fff;
}
.da__form__juriesBox.show{
  display: flex;
}
.list__ins{
  display: none;
  width: 100%;
  list-style: none;
}
.list__ins.show{
  display: block;
}
.list__ins__item{
  width: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
}
.list__ins__item :where(h1,p){
  font-size: small;
}
.list__ins__item:hover{
  filter: brightness(90%);
}
.instructor{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  background-color: #cee5f3;
  border-radius: 20px;
  font-size: smaller;
  color: var(--c_darkBlue);
}
.instructor i{
  font-size: large;
  cursor: pointer;
}
.instructor i:hover{
  color: var(--c_red);
}
.da__form__ins {
  width: 100%;
  font-size: smaller;
  padding: 5px;
  margin-top: 5px;
  background: var(--c_slate);
  border-radius: 4px;
}
.da__form__submit {
  background: var(--c_main);
  border: none;
  padding: 10px 5px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.da__table {
  width: 100%;
}
.da__table th {
  font-size: smaller;
  text-align: left;
}
.form__calif__input {
  width: 3em;
  border: none;
  border-bottom: 1px solid var(--c_gray);
  outline: none;
  text-align: center;
  padding: 5px;
}
.form__calif__input::placeholder {
  text-align: center;
}
.form__calif__submit {
  font-size: large;
  padding: 4px 6px 2px;
  border-radius: 4px;
  border: 1px solid #1ba57b;
  color: #1ba57b;
  cursor: pointer;
}
.detailsResult {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detailsResult__flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  color: var(-cl);
}
.detailsResult__state {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
  font-size: medium;
  border: 1px solid var(--cl);
  border-radius: 4px;
  font-weight: 400;
  color: var(--cl);
}
.detailsResult__state i {
  font-size: x-large;
  font-weight: 600;
}
.detailsResult__flex p {
  font-size: small;
}
.detailsResult__qualification {
  height: min-content;
  font-size: medium;
  padding: 5px 10px;
  background-color: var(--c_slate);
  border-radius: 20px;
  font-weight: 500;
}
.proyect__allContent {
  display: flex;
  flex: 1;
}
.proyect {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1em 1em 1em 0;
}
.details {
  transition: all 0.5s;
}
.proyect__btnShowContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--c_slate);
}
.proyect__subtitles {
  font-size: large;
  font-weight: 600;
  font-family: var(--f-advent);
}
.proyect__btnShowContent i {
  font-size: large;
  transform: rotateZ(180deg);
  transition: transform 0.3s;
}
.proyect__btnShowContent i.open {
  transform: rotateZ(0);
}
.proyect__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 5px;
}
.proyect__stateInfo {
  margin-top: 1em;
  padding: 1em;
  font-size: small;
  border: 1px solid var(--cl);
  border-radius: 5px;
  color: var(--cl);
}
.proyect__part {
  font-size: small;
  font-weight: 600;
  margin-top: 1em;
}
.proyect__description {
  font-size: small;
  font-weight: light;
  color: var(--c_gray);
}
.proyect__authors {
  margin-left: 1rem;
}
.proyect__author {
  font-size: small;
  font-weight: 500;
  color: var(--c_gray);
}
.proyect__file {
  position: relative;
}
.proyect__iframe {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 1rem 0;
}
.proyect__download {
  display: none;
  width: 100%;
  padding: 1em;
  font-size: small;
  font-weight: 600;
  background-color: var(--c_main);
  color: white;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}
.observationsBox {
  flex: 1 1 500px;
  border-left: 1px solid var(--c_slate);
}
.observations {
  position: sticky;
  top: 0;
  width: 100%;
  height: min-content;
}
.observations__subtitle {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 1rem;
  font-size: large;
  font-weight: 600;
  font-family: var(--f-advent);
  border-bottom: 1px solid var(--c_slate);
}
.observations i {
  font-size: x-large;
}
.observations__content {
  padding: 1rem;
}
.observations__content b {
  display: block;
  margin: 1rem 0;
}
.observations__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.observations__box i {
  display: block;
  font-size: small;
}
.observation {
  padding: 10px;
  border-bottom: 1px solid var(--c_slate);
  border-radius: 4px;
}
.observation__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.observation__data {
  display: flex;
  align-items: center;
  gap: 6px;
}
.obsevation_actions{
  display: flex;
  align-items: center;
  gap: 5px;
}
.observation__form__submit {
  color: var(--c_gray);
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.observation__form__submit:hover {
  color: var(--cl-hover);
}
.observation__form__submit i {
  display: grid;
  place-items: center;
  font-size: large;
}
.observation__author {
  background-color: var(--c_gold);
  font-size: medium;
  font-family: var(--f-advent);
  border-radius: 4px;
  padding: 3px 7px;
}
.observation__date {
  font-size: small;
}
.observation__state{
  display: inline-block;
  font-size: small;
  color: var(--cl);
  border: 1px solid var(--cl);
  padding: 3px 5px;
  border-radius: 4px;
  margin-bottom: 2px;
}
.observation__descri {
  font-size: smaller;
  color: var(--c_gray);
}
.newObs {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.newObs__btnNewObs,
.newObs__form__submit {
  width: 100%;
  padding: 10px;
  font-size: small;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  background-color: var(--c_main);
}
.newObs__form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 7px;
  background-color: #fff;
  border-radius: 5px;
}
.newObs__form.show {
  display: flex;
}
.newObs__form__textarea {
  width: 100%;
  height: 6em;
  padding: 7px;
  resize: vertical;
  border: 1px solid var(--c_slate);
  border-radius: 5px;
  outline: none;
  font-size: small;
}

.bottomBox {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 -2px 5px var(--c_slate);
  background-color: hsl(0, 0%, 100%, 0.9);
  backdrop-filter: blur(5px);
}
.form__edit {
  position: relative;
  width: 100%;
  max-height: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.form__edit.show{
  max-height: 30em;
}
.form__edit__btnclose{
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px;
  font-size: large;
  color: var(--c_darkBlue);
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
}
.form__edit__btnclose:hover{
  filter: brightness(120%);
}
.form__edit__group {
  width: min(100%,400px);
}
.form__edit__group.descri{
  width: 100%;
}
.form__edit__label {
  display: block;
  font-weight: 600;
  font-size: small;
}
.form__edit__input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid var(--c_gray);
  outline: none;
  background: transparent;
}
.form__edit__input.textarea {
  height: 5em;
  resize: vertical;
}
.form__edit__fileBox {
  width: 100%;
}
.form__edit__label__file {
  display: block;
  width: min(100%, 200px);
  padding: 10px;
  text-align: center;
  background-color: var(--c_darkBlue);
  border-radius: 4px;
  font-size: small;
  font-weight: 600;
  color: white;
}
.form__edit__file {
  position: absolute;
  visibility: hidden;
}
.form__submit{
  width: min(100%,300px);
  padding: 10px;
  background-color: var(--c_main);
  color: white;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.actions {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1em;
}
.actions__btn {
  padding: 10px;
  background: var(--c_darkBlue);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .proyect__allContent {
    flex-wrap: wrap;
  }
  .observations {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .proyect__download {
    display: block;
  }
  .proyect__iframe {
    display: none;
  }
  .actions__btn,
  .actions__form {
    width: 100%;
  }
}
