@import url(http://localhost/repo_mvc/Views/css/main.css);
@import url(http://localhost/repo_mvc/Views/css/header.css);

.top {
  width: 100%;
  margin: 2rem auto 5px;
  display: flex;
  justify-content: space-between;
}
.top h1 {
  font-size: large;
  font-weight: bold;
  color: var(--c_main);
}
.top a {
  font-family: var(--f-advent);
  font-size: medium;
  font-weight: 600;
  color: var(--c_gold);
  text-decoration: none;
}
.projectsBox {
  width: 100%;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  gap: 1rem;
}
.project {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 10em;
  padding: 1rem;
  display: flex;
  gap: 5px;
  flex-direction: column;
  background-color: var(--c_slate);
  border-radius: 4px;
}
.project:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: var(--cl);
  border-radius: inherit;
}
.project__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project__title {
  font-family: var(--f-advent);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--cl);
}
.project__type {
  font-size: small;
  font-weight: 500;
  color: var(--main);
}
.project__descri {
  font-size: small;
  margin-top: 5px;
  color: var(--c_gray);
  /* estilos para limitar lineas de texto */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* aquí se especifica el número de líneas */
}
.project__state {
  padding: 7px;
  width: min(100%, 15em);
  text-align: center;
  border-radius: 4px;
  background: var(--cl);
  color: white;
  align-self: flex-end;
  margin-top: 10px;
  font-size: smaller;
}
.project__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--c_gray);
  cursor: pointer;
  outline: 1px solid var(--c_gray);
}
.project__upload:hover {
  outline: 2px solid var(--c_gray);
}
.project__upload i {
  font-size: xx-large;
}
.project__upload span {
  font-family: inherit;
}

.formBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  place-items: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  padding: 1rem;
}
.formBackground.show {
  display: grid;
}
.form {
  position: relative;
  width: min(100%, 30em);
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: normal;
  flex-direction: column;
  gap: 10px;
}
.form__close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 5px 3px;
  border-radius: 2px;
  font-weight: bold;
}
.form__close:active {
  background: var(--c_slate);
}
.form__title {
  font-weight: 800;
  text-align: center;
  color: var(--c_main);
  font-size: large;
}
.form__group {
  position: relative;
  border-radius: 4px;
}
.form__group legend {
  font-weight: 600;
  color: var(--c_blue);
}
.form__group :is(input, select, textarea) {
  width: 100%;
  border: none;
  outline: none;
  padding: 7px 10px;
}
.form__group textarea {
  resize: none;
  height: 5rem;
}
.form__authorsBox{
  width: 100%;
  display: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 7px;
  background-color: #fff;
}
.form__authorsBox.show{
  display: flex;
}
.list__users{
  display: none;
  width: 100%;
  list-style: none;
}
.list__users.show{
  display: block;
}
.list__users__item{
  width: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
}
.list__users__item :where(h1,p){
  font-size: small;
}
.list__users__item:hover{
  filter: brightness(90%);
}
.author{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  background-color: #cee5f3;
  border-radius: 20px;
  font-size: smaller;
  color: var(--c_darkBlue);
}
.author i{
  font-size: large;
  cursor: pointer;
}
.author i:hover{
  color: var(--c_red);
}
.inputFile {
  display: none;
}
.fileBox__labelBtn {
  background-color: var(--c_darkBlue);
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: small;
}
.form__submit {
  padding: 13px;
  border-radius: 4px;
  background-color: var(--c_blue);
  border: none;
  color: white;
}
.form__submit:hover {
  filter: brightness(110%);
}
